body {
  background-color: white;
}
@media print {
  .container {
    max-width: 2000px;
  }
}
p {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  color: #0a0908;
}
h1 h2,
h3,
h4,
a {
  color: #22333b;
}
p {
  color: #3f403f;
}

Link {
  color: black;
}

h1 {
  color: black;
}
.jumbotron {
  background-color: white;
}

.container .content {
  background-color: white;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}

.footer-container {
  position: fixed;
  bottom: 0;
}

.home-heading {
  padding-top: 20px;
}

.carousel-indicators {
  background-color: #5d5e5d;
  z-index: 1;
  position: static; /*or relative*/
  border-radius: 5px;

  bottom: 0;
}

/* blog */
