body {
  background-color: #ced0ce;
}
@media print {
  .container {
    max-width: 2000px;
  }
}
p {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  color: #0a0908;
}
h1 h2,
h3,
h4,
a {
  color: #22333b;
}
p {
  color: #3f403f;
}

Link {
  color: black;
}

h1 {
  color: black;
}
.jumbotron {
  background-color: #e6e8e6;
}

.footer-container {
  position: fixed;
  bottom: 0;
}

.carousel-indicators {
  background-color: #5d5e5d;
  z-index: 1;
  position: static; /*or relative*/
  border-radius: 5px;

  bottom: 0;
}
