.site-title {
  font-weight: bold;
  width: 300px;
  pointer-events: all;
  color: #22333b;
}

.site-title-container {
  pointer-events: none;
}

.site-subtitle {
  margin-left: 15px;
  color: #22333b;
}
